*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 1800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#border{
    height: 130px;
    width: 50px;
    display: inline-block;
    border-right: 1px #dddddd solid;
}

header.container{
    margin: 25px auto 50px;
}

ul#menu li{
    display: inline-block;
    font-size: 28px;
    margin: 50px 25px 0 0;
    color: #999999;
    text-transform: uppercase;
}

#jumbotron{
    background-image: url(../img/banner.jpg);
    height: 750px;
    border-radius: 20px;
    position: relative;
    background-size: cover;
    margin-bottom: 50px;
    background-position-y: center;
}

#jumbotron .text-jumbotron, .under-text-jumbotron{
    color: white;
    left: 100px;
    position: absolute;
}

.text-jumbotron{
    bottom: 180px;
    width: 50%;
    font-size: 51px; 
}

.under-text-jumbotron{
    bottom: 120px;
    width: 45%;
    font-size: 22px;
}

main#content-img > header{
    height: 130px;
}

h3{
    font-size: 50px;
}

main#content-img aside, main#content-img article{
    height: 300px;
    background-size: cover;
    float: left;
    filter: brightness(0.8);
    border-radius: 20px;
    margin-bottom: 50px;
}

main#content-img aside{
    width: 20%;
}
    
main#content-img article{
    width: calc(60% - 40px);
    margin: 0 20px;
    background-image: url(../img/banner-2.jpg);
    background-position-y: center;
}

.aside-left{
    background-image: url(../img/img-1.jpg);
}

.aside-right{
    background-image: url(../img/img-3.jpg);
}

h5{
    font-size: 22px;
    margin-bottom: 20px;
    color: #5f5f5f;
}

#text-aside-right, #text-aside-left, #text-article{
    float: left;
}

section#content-text aside, section#content-text article{
    height: 400px;
    float: left;
}

section#content-text aside{
    width: 20%;
}
    
section#content-text article{
    width: calc(60% - 70px);
    margin: 0 35px;
}

p{
    font-size: 22px;
    color: #999999;
}

#foot{
    text-align: center;
    margin: 70px;
    font-size: 25px;
}

#sponsor{
    color: black; 
}

#hearts{
    color: red;
}

.layover{
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
}